
<%= search_form_for @q do |f| %>

 
  <%= f.text_field :title_cont, class:'col-md-4 input-lg' %>
  <%= f.submit 'Search', class:'col-md-1 this_button btn btn-primary' %>
<% end %>
<div style='clear:both;'></div>

 

<% @pictures.each_with_index do |picture, index| %>
  <% if index.even? %>
    <div style='float:left'class="cont col-sm-8 col-md-8 col-xs-8">
      <div class="thumbnail">
          <img href='<%= picture_path(picture)%>' src=<%= picture.image.to_s %>>  
      
        <div class="caption">
          <h3><%= picture.title %></h3>
            <p>
          <!--   <%= link_to '▲', upvote_picture_path(picture), class:'btn btn-primary', id: 'upvote' %>
            <%= link_to '▼', downvote_picture_path(picture), class:'btn btn-default', id: 'downvote' %> -->
            <a class= 'btn btn-primary' href='#' 
            onclick='submit_pic_upvote(<%= picture.id %>)' id='upvote'>▲</a>
            <a class= 'btn btn-primary' href='#' 
            onclick='submit_pic_downvote(<%= picture.id %>)' id='downvote'>▼</a>
            <% if user_signed_in? %>
              <a style='float:right'class='btn btn-primary' onclick='comment_toggle(<%=picture.id%>);'> Comment </a>
                <div class='commentForm' id="comment_<%=picture.id%>">
                <%= form_for [picture, @comment] do |f| %>
                
                  <%= f.text_field :comment %>
                  <%= f.submit 'Post comment', class:'btn btn-primary' %>
                <%- end -%>
              </div>
            <%- end -%>
            </p>
        </div>
      </div>
    </div>
    <div class="cont col-sm-4 col-md-4 col-xs-4">
      <h2> Comments </h2>
      <ul class="list-group">


    <% picture.comments.each do |comment| %>
       <li class="list-group-item">
        <p style='float:left'>
         <%= comment.comment %>
        </p>
        <div class='float_right'>      
          <%= comment.user.username %>
          <%= link_to '▲', upvote_picture_comment_path(picture, comment.id),
          id: 'comment_upvote_#{comment.id}' %>
          <%= link_to '▼', downvote_picture_comment_path(picture, comment.id), id: 'comment_downvote_#{comment.id}'%>
        </div>
        <div style='clear:both'></div>
        </li>
      
    <%- end -%>
    </ul>
    </div>
<% else %>
 <div style='float:left'class="cont col-sm-4 col-md-4 col-xs-4">
  <h2> Comments </h2>
   <ul class="list-group">
    <% picture.comments.each do |comment| %>
        <li class="list-group-item">
          <p style='float:left'>
            <%= comment.comment %>
          </p>

          <div class='float_right'>      
            <%= comment.user.username %>
            <%= link_to '▲', upvote_picture_comment_path(picture, comment.id),
            id: 'comment_upvote_#{comment.id}' %>
            <%= link_to '▼', downvote_picture_comment_path(picture, comment.id), id: 'comment_downvote_#{comment.id}'%>
          </div>
        <div style='clear:both'></div>
        </li>
        
    <%- end -%>
    </ul>
    </div>
  <div style='float:right;' class=" cont col-sm-8 col-md-8 col-xs-8">  
      <div class="thumbnail">
          <img href='<%= picture_path(picture)%>' src=<%= picture.image.to_s %>>  
        <div class="caption">
          <h3><%= picture.title %></h3>
            <p>
         <!--    <%= link_to '▲', upvote_picture_path(picture), class:'btn btn-primary', id: 'upvote' %>
            <%= link_to '▼', downvote_picture_path(picture), class:'btn btn-default', id: 'downvote' %> -->
             <a class= 'btn btn-primary' href='#' 
            onclick='submit_pic_upvote(<%= picture.id %>)' id='upvote'>▲</a>
            <a class= 'btn btn-primary' href='#' 
            onclick='submit_pic_downvote(<%= picture.id %>)' id='downvote'>▼</a>
            <% if user_signed_in? %>
              <a style='float:right'class='btn btn-primary' onclick='comment_toggle(<%=picture.id%>);'> Comment </a>
                <div class='commentForm' id="comment_<%=picture.id%>">
                <%= form_for [picture, @comment] do |f| %>
                  <%= f.text_field :comment %>


                  <%= f.submit 'Post comment', :class=>"floated btn btn-default", type:"button" %>

                <%- end -%>
              </div>
            <%- end -%>
            </p>
        </div>
      </div>
    </div>
   

  <% end %>

<div style='clear:both'></div>
<div class='border'></div>

<% end %>

