<p id="notice"><%= notice %></p>

<a href="" id="downvote"></a> <!-- &#x25BC; down arrow -->

<p>
  <%= link_to 'upvote', vote_picture_path(@picture) %> <!-- &#x25B2; up arrow -->
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
